<div class="visualization-downloads v-box">
  <div class="row">
    <div class="col-4 p-5 text-center">
      <img [src]="graphics.downloadsMain" alt="Ilustración de descargas" height="140" />
    </div>
    <div class="col-8 align-content-center">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <h3>Reporte</h3>
          <p>
            Seleccioná diferentes elementos para generar un reporte a medida.
          </p>
        </div>
        <app-button
          label="Descargar"
          [icon]="icons.actions.download"
          iconPosition="right"
          (btnClick)="onClickDownload()"
        />
      </div>
    </div>
  </div>
</div>