:host {
  height: 100%;
  display: block;
}

.recovery-container {
  padding: 1rem;
}

.recovery-title,
.success-title {
  color: var(--q-text-primary);
}

.success-message {
  color: var(--q-text-secondary);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--q-fs-sm);
}

.success-icon-container {
  display: flex;
  justify-content: center;

  // TODO: eliminar ::ng-deep cuando Angular provea alternativa
  ::ng-deep .btn--icon-circle {
    cursor: default !important;
    pointer-events: none;

    .btn__icon {
      font-size: 3rem !important;
    }
  }
}
